body{
    color:white;
    font-family: "poppins";
    background: #000906 ;
}


.soreboard{
    width: 800px;
    height: 500px;
    background: #043927;
    border-radius: 10px;
    margin:0 auto;
    border: 2px solid #1f604a;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    gap:20px;
    margin-top:100px;
}

.team-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #00693E;
    height: 100%;
    width:45%;
    border-radius: 10px;
}

.score-card{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 90%;
    height:auto;
    background: #00853E;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
}

.display{
    align-items: center;
    font-family: "digital-7";
    font-size: 80px;
    text-align: center;
    margin: auto;
    width: 90%;
    height:200px;
    background: #000906;
    color: red;
    border-radius: 10px;
    position: relative;
}

.display h1{
    position: relative;
    margin: 0;
    top: 20px;
}

button{
    font-weight: 500;
    background: #00693E;
    width: 50px;
    height: 40px;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease ,background 0.3s ease, color 0.3s ease;
}

button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.219);
}

button:active{
    background: #00ac64;
}

.btn-container{
    display: flex;
    gap:10px;
    justify-content: center;
}

#reset-btn{
    width:100px;
    border: 2px solid #00853E;
}

.team-name h1{
    font-size: 50px;
    margin-top: 0;
}

.info-btn-container{
    display: flex;
    justify-content: center;
    margin: 50px;
    gap:10px;
}

.git-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
    background: none;
    border: 2px solid #00ac64;
    font-size: 17px;
    border-bottom: 4px solid #00ac64;
    font-family: "poppins";
    font-weight: 600;
    

}

.git-btn:hover{
    background: #00a460;
}

.git-btn img{
    width: 16px;
    height: auto;
    margin-bottom:3px;
}

#credits {
    text-align: center;
    font-size: 15px;
    margin-bottom: -20px;
    margin-top: 50px;
}

#credits span{
    color: #00ff95;
    font-family: "poppins";
}

#title{
    font-family: "digital-7";
    letter-spacing: 3px;
    text-align: center;
    font-size:60px;
    color: #00ff95;
    margin-bottom: -50px;
}

a{
    text-decoration: none;
}

#js-code{
    border-color: yellow;
}

#js-code:hover{
    background-color: yellow;
    color: #000906;
}